.main-container {
    margin-left: auto;
    margin-right: auto;
    width: max-content;
    color: #505050;
    padding: 5px;
}

.logo-container {
    width: max-content;
    margin-left: auto;
    margin-right: auto;
}

.logo {
    width: 50px;
}

.title-container {
    width: max-content;
    margin: 0 auto 15px auto;
}

.title-large {
    font-size: 20px;
}

.title-small {
    font-size: 16px;
}

.version {
    font-style: italic;
    text-align: right;
    color: #6d6d6d;
}

button {
    width: 100%;
    border: none;
    border-radius: 3px;
    background-color: #949494;
    color: white;
    font-size: 14px;
    padding: 5px;
    outline: none;
}

button:hover {
    background-color: #aba8a8;
}

.optionsContainer {
    width: 100%;
    margin-top: 40px;
}

.field {
    margin: 20px 0;
}

label {
    margin-right: 5px;
    font-weight: bold;
}

input {
    outline: none;
    box-shadow: none;
    padding: 5px;
    margin-top: 10px;
    width: 220px;
}

.description {
    margin-top: 10px;
    font-style: italic;
}

.notification-container {
    height: 20px;
    margin-top: 10px;
}

.notification {
    display: none;
    color: green;
    font-size: 14px;
    text-align: center;
}

.github-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    padding: 5px 10px 5px 10px;
    font-size: 12px;
    border-radius: 4px;
    text-decoration: none;
    color: #333;
    background-color: #eee;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fcfcfc), to(#eee));
    background-image: linear-gradient(to bottom, #fcfcfc 0, #eee 100%);
    background-repeat: no-repeat;
    border: 1px solid #d5d5d5;

    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
}

.github-icon {
    width: 15px;
    height: 15px;
    margin-right: 5px;
}